@keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  width: 5vw;
		height: 5vw;
		left: calc(50% - 2.5vw);

	  -webkit-transform: translate3d(0, -3000px, 0);
	  transform: translate3d(0, -3000px, 0);
	}
  
	60% {
	  -webkit-transform: translate3d(0, 25px, 0);
	  transform: translate3d(0, 25px, 0);
	}
  
	75% {
	  -webkit-transform: translate3d(0, -10px, 0);
	  transform: translate3d(0, -10px, 0);
	}
  
	90% {
	  -webkit-transform: translate3d(0, 5px, 0);
	  transform: translate3d(0, 5px, 0);
	}
  
	to {
	  width: 26vw;
		height: 26vw;
		left: calc(50% - 13vw);

	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
}

@keyframes moveToLeft{
	to {
		opacity: .6;
		left: 5%;
	}
}

@keyframes moveToRight{
	to {
		opacity: .6;
		right: 5%;
	}
}

.bounceIn{
	animation: 1s bounceInDown;
}

.moveToLeft{
	animation: 1s moveToLeft forwards;
}

.moveToRight{
	animation: 1s moveToRight forwards;
}