@font-face{
    font-family: BtnFont;
    src: url("../font/Champagne & Limousines Bold.ttf");
}

@font-face {
    font-family: TileFont;
    src: url("../font/文悦古典明朝体.ttf");
}

.title_box{
    font-family: TileFont;
    font-size: 4vw;
    color: #ffffff;
}

.plus_box{
    font-family: TileFont;
}