html{
	width: 100%; height: 100%;
}

body{
	margin: 0;
	width: 100%; height: 100%;

	background: #bc4e9c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

span{
	width: 20vw;
	height: 5vw;
	position: absolute;

	text-align:center;

	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}

.open_button, .manage_button, .password_button{
	transform: translateZ(0);  /*硬件加速*/

	width : 26vw;
	height: 26vw;

	top: calc(50% - 13vw);

	border-radius: 50%;

	position: fixed;

	background-color: whitesmoke;

	box-shadow: inset 0 0 10px 5px rgba(255, 175, 189, 0.6), 0 0 10px 5px rgba(255, 195, 160, 0.6)
}


.open_button, .password_button{
	z-index: -1;
	opacity: 0;	/*开始先隐藏左右两个按钮*/
}

.open_button{
	left       : calc(50% - 13vw); /*将其居中，然后用动画移动指定位置*/
}

.manage_button{
	z-index    : 0;
	left       : calc(50% - 13vw);

	opacity: .6;
}

.password_button{
	right       : calc(50% - 13vw); /*将其居中，然后用动画移动指定位置*/
}