html{
	width: 100%; height: 100%;
}

body{
	margin: 0;
	width: 100%; height: 100%;

	background: #bc4e9c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.open_button, .manage_button, .password_button{
	transform: translateZ(0);
	width: 26vw;
	height: 26vw;

	top: 50%;
	margin-top: -13%;

	border-radius: 50%;
	position: absolute;

	background-color: whitesmoke;
}

.open_button, .password_button{
	opacity: 0;
}

.open_button{
	z-index: -1;
	left: 50%;
	margin-left: -13%;
}

.manage_button{
	z-index: 0;
	left: 50%;
	margin-left: -13%;

	opacity: .8;
}

.password_button{
	z-index: -1;
	right: 50%;
	margin-right: -13vw;
}